<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"backgroundColor":"grey"} -->
<div class="wp-block-group has-grey-background-color has-background"><!-- wp:spacer {"height":"20vh"} -->
<div style="height:20vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":false,"contentSize":"540px"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"25px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
<h3>Page not found</h3>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"contentSize":"400px"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">It looks like nothing was found at this location. Try a search or check
                    the links below.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:search {"label":"","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Go back to </p>
<!-- /wp:paragraph -->

<!-- wp:site-title {"level":0} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"20vh"} -->
<div style="height:20vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
