<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:spacer {"height":"8vh"} -->
<div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
	<!-- wp:columns -->
	<div class="wp-block-columns">
		<!-- wp:column {"width":"22%"} -->
		<div class="wp-block-column" style="flex-basis:22%">
			<!-- wp:html -->
			<button id="filter-toggle" class="filter-toggle">Filter</button>
			<!-- /wp:html -->

			<!-- wp:template-part {"slug":"products-filter"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"78%"} -->
		<div class="wp-block-column" style="flex-basis:78%">
			<!-- wp:pattern {"slug":"cozynest/shop-banner"} /-->
			<!-- wp:woocommerce/legacy-template {"template":"archive-product"} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"8vh"} -->
<div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->
